$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@keyframes example {
  0% {background-color: red;}
  33% {background-color: yellow;}
  66% {background-color: green;}
  100% {background-color: red;}
}

body {
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: example;
  width: 100%;
}

h3 {
  font-family: fantasy;
  visibility: hidden;
  margin-left: 38%;
  margin-right: 38%;
}

legend {
  font-size: 2em;

}

.auth {
  float: left;
  font-family: monospace;
  font-size: .7em;
  padding-bottom: 10%;
  width: auto;
}

.title {
  background: rgb(225, 225, 225);
  border: 5px solid black;
  border-radius: 25px;
  clear: both;
  font-family: monospace;
  font-size: 4.5em;
  margin-left: 35%;
  margin-right: 35%;
  // padding-top: 5%;
  // width: auto;
}

.page {
  clear: both;
  margin: auto;
}


.board {
  border: 0;
  height: 450px;
  width: 33%;
  margin-top: 50px;
  margin-left: 33.5%;
}

.box {
  box-sizing: border-box;
  border: 3px black;
  border-style: inset;
  width: 33%;
  height: auto;
}

.marked {
  font-size: 10em;
}

.row1 {
  display: flex;
  height: 33%;
  width: 100%;
}

.row2 {
  display: flex;
  height: 33%;
  width: 100%;
}

.row3 {
  display: flex;
  height: 33%;
  width: 100%;
}

.box1 {
  border-left: 0;
  border-top: 0;
}

.box2 {
  border-top: 0;
}

.box3 {
  border-right: 0;
  border-top: 0;
}

.box4 {
  border-left: 0;
}


.box6 {
  border-right: 0;
}

.box7 {
  border-bottom: 0;
  border-left: 0;
}

.box8 {
  border-bottom: 0;
}

.box9 {
  border-bottom: 0;
  border-right: 0;
}
