$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@keyframes example {
  0% {background-color: red;}
  33% {background-color: yellow;}
  66% {background-color: green;}
  100% {background-color: red;}
}

body {
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: example;
  width: 100%;
}


#sign-in-p1 {
  float: left;
  width: auto;
}

#sign-out-p1 {
  float: left;
  width: auto;
}

#sign-in-p2 {
  float: right;
  width: auto;
}

#sign-out-p2 {
  float: right;
  width: auto;
}

.auth {
  padding-bottom: 10%;
}

.title {
  background: rgb(225, 225, 225);
  border: 5px solid black;
  border-radius: 25px;
  clear: both;
  font-family: monospace;
  font-size: 5em;
  margin-left: 31.5%;
  margin-right: 31.5%;
  // padding-top: 5%;
  width: auto;
}

.page {
  clear: both;
}


.board {
  border: 0;
  height: 420px;
  width: 420px;
  margin-top: 50px;
  margin-left: 33.5%;
}

.box {
  border: 3px black;
  border-style: inset;
  width: 33%;
  height: auto;
}

.row1 {
  display: flex;
  height: 140px;
  width: 100%;
}

.row2 {
  display: flex;
  height: 140px;
  width: 100%;
}

.row3 {
  display: flex;
  height: 140px;
  width: 100%;
}

.box1 {
  border-left: 0;
  border-top: 0;
}

.box2 {
  border-top: 0;
}

.box3 {
  border-right: 0;
  border-top: 0;
}

.box4 {
  border-left: 0;
}


.box6 {
  border-right: 0;
}

.box7 {
  border-bottom: 0;
  border-left: 0;
}

.box8 {
  border-bottom: 0;
}

.box9 {
  border-bottom: 0;
  border-right: 0;
}
